@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #E5EAF5;
    --blue: #A0D2EB;
    --purple: #8458B3;
    --dark: #494D5F;
    --pink: #D0BDF4;
}

html {
    background: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark);
    overflow-x: hidden;
}


.white {
    color: var(--white);
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

.dark {
    color: var(--dark);
}

.pink {
    color: var(--pink);
}

.grad-blue-white {
    background: rgb(160, 210, 235);
    background: radial-gradient(circle, rgba(160, 210, 235, 1) 0%, rgba(229, 234, 245, 1) 100%);
}

.grad-purple-blue {
    background: rgb(160, 210, 235);
    background: linear-gradient(39deg, rgba(160, 210, 235, 1) 0%, rgba(132, 88, 179, 1) 100%);
}

.nav-user {
    transition: all 0.5s;
}

.terms {
    color: var(--dark);
    border: 1px solid var(--dark);
    font-weight: 800;
}

.terms:hover,
.active {
    color: var(--white);
    background-color: var(--dark);
}

.card {
    height: 100%;
    min-height: 300px;
    align-self: flex-start;
    justify-content: space-between;
}

.name {
    min-height: 20px;
}



.cover {
    transition: all 0.5s;
}

.cover:hover {
    box-shadow: 0 0 30px 5px var(--dark);
    transform: scale(1.1);
}

.text-shadow {
    transition: all 0.5s;
}

.text-shadow:hover {
    text-shadow: 0 0 25px var(--dark);
}

.nav-brand,
.nav-items h3 {
    transition: all 0.3s;
}

.nav-brand:hover,
.nav-items h3:hover {
    text-shadow: 0 0 5px var(--white);
}